@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #FFFFFF;
  --foreground: #1F2820; */
  --background: #000000;
  --foreground: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.pathway {
  font-family: "Pathway Extreme", sans-serif !important;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

* {
  font-family: "Inter", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
