@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDEFDB;
  --foreground: #1F2820;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
